.logo-container {
  position: static;
  width: 40%;
  display: flex;
  justify-content: center;

  img {
    width: clamp(50%, 600px, 90%);
  }
}

@media screen and (max-width: 1200px) {
  .logo-container {
    // width: 100%;
    display: none;

    // img {
    //   padding-top: 15px;
    //   max-width: 100%;
    //   width: calc(100vh - 470px);
    // }
  }
}
