.logo-container {
  position: absolute;
  right: 5%;
  top: 25%;
  transform: translateY(-50%);
  width: 40%;
  max-height: 10%;

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 500px;
    z-index: 1;
  }
}

@media screen and (max-width: 1200px) {
  .logo-container {
    width: 90% !important;
    height: auto;
    float: none;
    display: block;
    margin: 0 auto 0 auto;
  }
}