.page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #0093b9;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  .page {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .top-tags {
    bottom: auto;
    top: 35px;
  }

  .tags {
    color: #0093b9;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;
  }

  .bottom-tag-html {
    margin-left: -20px;
  }

  .container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
  }

  .container.contact-page,
  .container.about-page,
  .container.portfolio-page {
    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #0093b9;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: -10px;

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #0093b9;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #0093b9;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    p {
      font-size: 14px;
      color: #4d4d4e;
      font-family: sans-serif;
      font-weight: 400;
      max-width: fit-content;
      animation: pulse 1s;
      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }

    .text-zone {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      width: 35%;
      vertical-align: middle;
      display: table-cell;
      max-height: 90%;
    }

    .text-animate-hover {
      &:hover {
        color: #1d1d1d;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .page {
      position: initial;
    }

    .container {
      position: initial;
      height: auto;
      min-height: auto;

      &.contact-page,
      &.about-page,
      &.portfolio-page {
        .text-zone {
          position: initial;
          transform: none;
          width: 100%;
          display: block;
          padding: 20px;
          box-sizing: border-box;
        }
      }

      &.portfolio-page {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;

        h1.page-title {
          margin-left: 20px;
          margin-top: 20px;
        }

        .image-box {
          height: 200px;
          max-width: calc(50% - 10px);
        }
      }
    }
  }
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.container.contact-page,
.container.about-page,
.container.portfolio-page,
.container.dashboard-page {
  h1 {
    font-size: 53px;
    font-family: 'Coolvetica';
    color: #0093b9;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #0093b9;
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      left: -10px;
      opacity: 0.6;
      line-height: 18px;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #0093b9;
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      left: -30px;
      bottom: -20px;
      margin-left: 20px;
      opacity: 0.6;
    }
  }

  p {
    font-size: 15px;
    color: #4d4d4e;
    font-family: sans-serif;
    font-weight: 400;
    max-width: fit-content;
    animation: pulse 1s;
    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }
    &:nth-of-type(2) {
      animation-delay: 1.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.3s;
    }
  }

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
  }

  .text-animate-hover {
    &:hover {
      color: #4d4d4e;
    }
  }
}

.container.dashboard-page {
  width: 90%;
  padding: 20px;
  margin-left: 70px;
}

.flat-button {
  color: #0093b9;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 10px 18px;
  border: 1px solid #0093b9;
  border-radius: 4px;
  margin-top: 25px;
  float: left;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;

  &:hover {
    background: #0093b9;
    color: #fff;
  }
}

@media screen and (max-width: 1200px) {
  .page {
    position: initial;
  }

  .container {
    position: initial;
    height: auto;
    min-height: auto;

    &.contact-page,
    &.about-page,
    &.portfolio-page &.dashboard-page {
      padding: 20px;
      box-sizing: border-box;

      .text-zone {
        position: initial;
        transform: none;
        width: 100%;
        display: block;
        padding: 20px;
        box-sizing: border-box;
      }
    }

    &.dashboard-page {
      width: 90%;
      padding: 20px;
      margin-left: 0px;
    }
  }

  .flat-button {
    float: none;
    display: block;
    margin: 0;
    margin-top: 20px;
  }
}

input[type='text'],
input[type='email'] {
  width: 100%;
  border: 0;
  background: #fff;
  height: 50px;
  font-size: 16px;
  color: #4d4d4e;
  padding: 0 20px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  border: 0;
  background: #fff;
  height: 50px;
  font-size: 16px;
  color: #4d4d4e;
  padding: 20px;
  box-sizing: border-box;
  min-height: 150px;
}
