.home-page {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 150px;

  .text-zone {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  h1 {
    color: #1d1d1d;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #0093b9;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #0093b9;
      font-size: 18px;
      position: relative;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .social-media {
    bottom: 20px;
    width: 100%;
    padding: 0;
    margin: 0;

    a {
      padding: 7px 0;
      padding-right: 8px;
      font-size: 20px;
      line-height: 21px;
      color: #4d4d4e;
      animation: fadeIn 1s 1.8s backwards;

      &:hover {
        .anchor-icon {
          color: #0093b9;
        }
      }
    }
  }

  .mobile-break {
    display: none;
  }

  .buttons {
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page .text-zone {
    text-align: center;
  }

  .container,
  .home-page {
    position: absolute !important;
    height: 100% !important;
    width: 100%;
    padding: 0;
    top: 0 !important;
    right: 0;
    align-items: center;
  }

  .buttons {
    align-items: center;
    width: 100%;
    padding: 0;
    flex-direction: column;

    .resume-btn,
    .contact-btn {
      width: 100%;
    }
  }

  .mobile-break {
    display: inline !important;
  }
}
