.nav-bar {
  background: rgb(0, 0, 0);
  width: 65px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 24px;
      height: auto;

      &.sub-logo {
        width: 50px;
      }
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 22px;
      color: var(--sidebar-links);
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: var(--main-color);

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
    }

    a {
      &:after {
        content: attr(data-value);
      }
    }

    a.active {
      svg {
        color: var(--main-color);
      }
    }
  }

  ul.sidebar-social-icons {
    position: absolute;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
    top: 100px;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;
        color: var(--sidebar-links);
      }

      &:hover {
        .anchor-icon {
          color: var(--main-color);
        }
      }
    }
  }
  ul.toggle-buttons {
    position: absolute;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
    bottom: 20px;

    li {
      .theme-button {
        font-size: 25px;
        color: var(--sidebar-links);
      }

      button {
        padding: 7px 20px;
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;

        svg {
          width: 100%;
          pointer-events: none;
        }
        &:hover {
          background-color: var(--main-color);
        }
      }
    }
  }
}

.nav-bar {
  border-top: none;
  border-right: calc(var(--is-dark-theme) * 1px) solid var(--main-color);
}

.hamburger-icon,
.close-icon,
.toggle-buttons-mobile,
#nav-blank {
  display: none;
}

@media screen and (max-width: 1200px) {
  /* Animation */

  /* fade in up */

  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  .animatedFadeInUp {
    opacity: 0;
  }

  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }

  /* fadeOutDown */

  @-webkit-keyframes fadeOutDown {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(100%);
    }
  }

  @keyframes fadeOutDown {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
    }
  }

  .fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
  }

  .animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
  }

  /* Mobile navbar */

  .nav-bar {
    // background: transparent;
    width: 100%;
    position: fixed;
    height: auto;
    min-height: auto;
    display: flex;
    top: auto;
    bottom: 0;
    z-index: 5;
    border-top: calc(var(--is-dark-theme) * 1px) solid var(--main-color);
    border-right: none;

    .logo {
      display: flex;
      padding-left: 15px;

      .sub-logo {
        display: none;
      }
    }

    ul.sidebar-social-icons,
    ul.toggle-buttons,
    nav {
      display: none;
    }

    nav {
      width: 100%;
      bottom: 0;
      top: auto;
      left: 0;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 260px,
        rgba(0, 0, 0, 0.41082370448179273) 100%
      );
      height: 100%;
      margin: 0;
      z-index: 2;
      position: fixed;

      .close-icon {
        display: block;
        padding-top: 15px;
        padding-left: calc(100% - 35px);
        color: var(--main-color);
      }

      &.mobile-show {
        display: block;
      }

      a {
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 15px;

        &:after {
          content: '';
        }

        &:before {
          content: attr(data-value);
          width: auto;
          margin-right: 10px;
          font-size: 10px;
          letter-spacing: 2px;
        }
      }

      a svg {
        opacity: 1 !important;
      }

      #nav-blank {
        display: block;
        height: calc(100% - 270px);
      }
    }

    .hamburger-icon {
      position: absolute;
      bottom: 15px;
      right: 15px;
      display: block;
    }

    .toggle-buttons-mobile {
      position: absolute;
      top: 10px;
      right: calc(50% - 54px);
      display: block;

      .theme-button {
        color: var(--sidebar-links);
        font-size: 20px;
      }

      button {
        padding: 12px 8px;
        background: transparent;
        border: none;

        svg {
          width: 20px;
          pointer-events: none;
        }
      }
    }
  }
}
