.buttons-container,
.form-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex: 1;
  align-items: center;
}

.form-container {
  justify-content: center;
  align-items: center;

  .form-row {
    margin-bottom: 1rem;
  }

  form {
    width: 100%;
  }

  input,
  textarea {
    width: 100%;
  }

  input[type='file'] {
    padding: 12px 0;
    color: var(--main-color);
    font-size: 13px;
    font-weight: 400;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: var(--main-color);
      color: var(--secondary-color);
    }
  }
}

.submit-button,
.cancel-button {
  background: none;
}

// .buttons-container {
//   //
// }

@media screen and (max-width: 1200px) {
  .container.dashboard-page {
    display: block;
  }
  .buttons-container,
  .form-container {
    width: 100%;
    flex: unset;
  }
}
