.list-container,
.form-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex: 1;
  align-items: center;
}

.action-button {
  background: none;
  margin-right: 1rem;
}

.section-title h2 {
  text-align: center;
  margin-bottom: 3rem;
}

// Form

.form-container {
  justify-content: center;
  align-items: center;

  .form-row {
    margin-bottom: 1rem;
  }

  form {
    width: 100%;
  }

  input,
  textarea {
    width: 100%;
  }

  input[type='file'] {
    padding: 12px 0;
    color: var(--main-color);
    font-size: 13px;
    font-weight: 400;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: var(--main-color);
      color: var(--secondary-color);
    }
  }
}

// Projects List

.list {
  min-height: fit-content;
  width: 90%;
  margin: 0 auto;
  max-width: 50vw;
}

.empty-list {
  margin-top: 1rem;
  text-align: center;
}

// Project Item

.project-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;

  img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }

  h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .item-description {
    color: var(--gray-color);
  }

  .delete-btn {
    color: var(--main-color);
    cursor: pointer;
    font-size: 1rem;
    background: transparent;
    border: none;
    margin-top: 0.5rem;
    transition: all 0.3s linear;

    &:hover {
      color: var(--secondary-color);
    }
  }

  .position-btn {
    width: 24px;
    background: transparent;
    border: none;
    cursor: pointer;

    svg {
      color: var(--gray-color);

      &:hover {
        color: var(--main-color);
      }
    }
  }

  p.position {
    text-align: center;
    margin-top: 0.5rem;
    max-width: unset;
    font-size: 1.25rem;
    line-height: 1;
  }
}

@media screen and (max-width: 1200px) {
  .container.dashboard-page {
    display: block;
  }
  .list-container,
  .form-container {
    width: 100%;
    flex: unset;
  }
}
