:root.light {
  --main-color: #0093b9;
  --secondary-color: #1d1d1d;
  --tertiary-color: #4d4d4e;
  --quaternary-color: #e9f1fa;
  --sidebar-links: #fff;
  --is-dark-theme: 0;
}

:root.dark {
  --main-color: #0093b9;
  --secondary-color: #e9f1fa;
  --tertiary-color: #fff;
  --quaternary-color: #000;
  --sidebar-links: #fff;
  --is-dark-theme: 1;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: var(--tertiary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--quaternary-color);
  overflow: visible;
  display: block;

  background-image: url('./assets/images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: max(350px, 60vw);
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
    background-position: top right;
    background-image: url('./assets/images/background-rotate.png');
  }
}
